@page "/article/{Id}"
@using MathJaxBlazor
@using StudyProject.Application
@using StudyProject.Core.ArticleAggregate
@using System.Text.RegularExpressions
@inject DatabaseAccess db
@inject HttpClient Http

@if (article == null)
{
    <p><em>Loading...</em></p>
}
else
{
	<h1>@article.Title</h1>
	@foreach (Match match in Regex.Matches(article.Content, @"(\$\$.*?\$\$|\$[^$]*\$)|([^$]+)"))
	{
		string text = match.Value;
		if (text.Contains("$$"))
		{
			<Equation Value="@text.Replace("$$", "")" />

		}
		else if (text.Contains('$'))
		{
			<Equation Value="@text.Replace('$', ' ')" TeXDisplay=false />
		}
		else
		{
			@((MarkupString)text)
		}
	}

}


@code {
	[Parameter] public string Id { get; set; }

	Article? article;

	protected override async Task OnInitializedAsync()
	{
		article = await db.GetArticleAsync(Id);
	}

}