@page "/article/{Id}"
@using StudyProject.Core.ArticleAggregate
@using StudyProject.Core.Models
@using StudyProject.Infrastructure

<h1>Article Id: @Id</h1>


@code {
	[Parameter] public string Id { get; set; }
}