@page "/article/{Id}"
@using MathJaxBlazor
@using StudyProject.Application
@using StudyProject.Core.ArticleAggregate
@using System.Text.RegularExpressions
@inject DatabaseAccess db
@inject HttpClient Http

@if (article == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<h1>@article.Title</h1>
	@foreach (Match match in Regex.Matches(article.Content, @"(\$\$.*?\$\$|\$[^$]*\$)|([^$]+)"))
	{
		string text = match.Value;
		if (text.Contains("$$"))
		{
			<Equation Value="@text.Replace("$$", "")" />

		}
		else if (text.Contains('$'))
		{
			<Equation Value="@text.Replace('$', ' ')" TeXDisplay=false />
		}
		else
		{
			@((MarkupString)text)
		}
	}

}


@code {
	[Parameter] public string Id { get; set; }

	Article? article;

	protected override async Task OnInitializedAsync()
	{
		string cachedArticle = await JSRuntime.InvokeAsync<string>("localStorage.getItem", $"article_{Id}");

		if (!string.IsNullOrEmpty(cachedArticle))
		{
			article = JsonConvert.DeserializeObject<Article>(cachedArticle);
		}
		else
		{

			article = await db.GetArticleAsync(Id);

			string serializedArticle = JsonConvert.SerializeObject(article);
			await JSRuntime.InvokeVoidAsync("localStorage.setItem", $"article_{Id}", serializedArticle);
		}
	}

}