@page "/"
@using MathJaxBlazor
@using StudyProject.Application
@using StudyProject.Infrastructure.DTOs
@inject HttpClient Http
@inject DatabaseAccess DatabaseAccess

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
