@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<br />
<Row JustifyContent="flex-start">
	<ActionButton>Hello World</ActionButton>
	<Chip>Chip!</Chip>
	<Chip Color="#9b2948" TextColor="#9b2948">Foo</Chip>
	<Chip Color="#ff7251" TextColor="#ff7251">Bar</Chip>
</Row>

<Divider/>

<Chip Color="#ffca7b" TextColor="#ffca7b">Baz</Chip>

