@page "/"
@using StudyProject.Application
@using StudyProject.Application.Common.Builders
@using StudyProject.Infrastructure
@using System.Linq
@inject ApplicationDbContext context;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
Context exists: @(context != null)

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h1> Articles </h1>
@foreach (var article in context.GetArticles())
{
	<p>@article.Title (@article.Id)</p>
}

@code {

    private void IncrementCount()
    {
        context.AddArticleAsync(new ArticleBuilder().WithTitle("Hello World!").Build());
    }

}