@page "/"
@using StudyProject.Application
@using StudyProject.Core.Models
@inject DatabaseAccess db

<p>Para acesso a resumos e anotações, acesse a página de Anotações na lista de navegação ao lado.</p>
<p>Para acesso a calculadoras e algoritmos, acesse a página de Calculadoras na lista de navegação ao lado.</p>
<p>Se a lista de navegação não estiver visivel, basta clicar em <Icon IconName="list" /> </p>
<p>Este projeto ainda está em desenvolvimento, então bugs poderão ocorrer</p>

@code {

    protected override async Task OnInitializedAsync()
    {
        Exercise e = new()
            {
                Id = "lim001",
                Question = "Calcule o limite de $x$ tendendo a $0 de x^2$",
                Hint = "Use a definição de limite",
                Solution = "O limite é 0"

            };
        await db.AddExerciseAsync(e);

        Exercise e2 = new()
        {
            Id = "lim002",
            Question = "Calcule o limite de $x$ tendendo a $-1$ de $x^3$",
            Hint = "Use a definição de limite",
            Solution = "O limite é -1"
        };

        await db.AddExerciseAsync(e2);
    }
}
