@page "/"
@using StudyProject.Application.Articles.Commands
@using StudyProject.Application.Articles.Commands.Create
@using StudyProject.Application.Articles.Commands.Get
@using StudyProject.Application.Common.Builders
@using StudyProject.Core.ArticleAggregate
@inject ArticleCommandInvoker invoker;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="IncrementCount">Create Article</button>
<InputText @bind-Value="SearchId" />
<button class="btn btn-primary" @onclick="GetArticle">Search Article</button>

@if(article == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<h1>@article.Title (@article.Id)</h1>
    <p>@article.Content</p>
}
@code {

    private string SearchId;
    private Article? article;

    private async void IncrementCount()
    {
        await invoker.CreateArticleAsync(new CreateArticleCommand(new ArticleBuilder().WithTitle("Foo").WithContent("Bar").Build()));
    }

    private async void GetArticle()
    {
        article = await invoker.GetArticleAsync(new GetArticleCommand(SearchId));
    }

}