@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<ActionButton>Hello World</ActionButton>

<br />

<Chip>Chip!</Chip>
<Chip Color="#9b2948" TextColor="#9b2948">Foo</Chip>
<Chip Color="#ff7251" TextColor="#ff7251">Bar</Chip>
<Chip Color="#ffca7b" TextColor="#ffca7b">Baz</Chip>
