@page "/guiadeestudos"
@using Newtonsoft.Json
@using StudyProject.Application
@using StudyProject.Core.Models
@inject DatabaseAccess db

<h3>StudyGuideHome</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        var foo = new StudyGuide();
        foo.Name = "Calculo";
        foo.Description = "Estudo de calculo no geral, vendo limites, derivadas e integrais";

        var bar = new StudyGuideNode();
        bar.Name = "Limites";
        bar.Description = "Estudo de limites";
        bar.ArticleId = "limites";

        var bar2 = new StudyGuideNode();
        bar2.Name = "Derivadas";
        bar2.Description = "Estudo de derivadas";
        bar2.ArticleId = "derivadas";
        bar2.LineIndex = 1;

        foo.Nodes = [bar, bar2];

        await db.AddStudyGuideAsync(foo);

    }
}
