.chip {
    display: inline-block;
    padding: 5px 12px;
    background-color: transparent; 
    border-radius: 25px;
    margin: 5px;
}

.icon {
    display: inline-block;
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    border-radius: 50%; /* Make it a circle */
    margin-right: 5px;
}
