@inherits ComponentBase


<button class="panel" @onclick="Navigate">
    @ChildContent
</button>
@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    [Parameter] public string Destination { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Width { get; set; } = "100%";

    private void Navigate()
    {
        NavigationManager.NavigateTo(Destination);
    }
}

<style>
    .panel {
        background-color: @Theme.Default.ForegroundColor;
        color: @Theme.Default.TextColor;
        width: @Width;
        transition: width 0.3s ease, transform 0.3s ease;
    }

        .panel:hover {
            background-color: @Theme.Default.PrimaryColor;
            transform: scale(1.025, 1.1);
        }
</style>
