
.panel {
    cursor: pointer;
    display: inline-block;
    color: white;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    border: none;
    text-align: left;
    transition: all 0.15s;
}
