@inherits ComponentBase

<div class="row-container" style="justify-content: @JustifyContent">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string JustifyContent { get; set; } = "flex-start";
}

<style>
    .row-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
    }
</style>
