@inherits LayoutComponentBase
<div class="page">
	<div class="page-sidebar">
		<NavLink class="nav-link" href="calculadoras">
			<ActionButton> <Row><Icon IconName="hashtag" /> Calculadoras</Row></ActionButton>
		</NavLink>
	</div>

	<main>

		<article class="page-content">
			@Body
		</article>
	</main>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}